html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #292f33;
}

hr {
  color: #99aab5;
  background-color: #66757f;
  width: 80%;
}

.container {
height: 100%;
}

.nav-container {
  width: 50%;
  height: 100%;
  min-height: 100%;
  margin:0;
  float: left;
  background-color: #f5f5f5;
}

.nav-box {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.title-box {
}

.title-box > img {
  height: 120px;
}


.main-container {
  width: 50%;
  height:100%;
  min-height: 100%;
  margin: 0;
  float: left;
  background-color: #27ae60;
}

.link  {
  margin-left: 30px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link > div {
  margin-top: 20px;
}

.link-icon img {
  height: 50px;
}
